/* Carousel */

    /* Agar Carousel Tertutup Sempurna Saat Navbar Atas Muncul (Mobile Ver.) */
    .carousel {
        padding-top: .13rem;
    }

    /* Agar Ukuran Carousel Proporsional */
    .carousel-item {
        height: 80vh;
        max-height: 45rem;
    }
    @media (min-width:768px) {
        .carousel-item {
            max-height: 25rem;
        }
    }
    @media (min-width:992px) {
        .carousel-item {
            max-height: 30rem;
        }
    }
    @media (min-width:1199px) {
        .carousel-item {
            max-height: 35rem;
        }
    }

    /* Layout Gambar Carousel Tipe 1 */
    .carousel-image {
        width: calc(100%);
        height: calc(50%);
        position: absolute;
        bottom: 0;
    }
    .carousel-image:not(.modified) {
        object-fit: cover;
        object-position: 50% 25%;
        height: 100%;
    }
    @media (min-width:768px) {
        .carousel-image.modified {
            width: calc(55%);
            height: calc(100%);            
            position: absolute;
            left: 45%;
        }
    }
    
    /* Style Default Untuk Caption Pada Carousel */
    .carousel-caption {
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    /* Mengtransparankan Background Carousel */
    .carousel-caption.bg-transparent {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) !important;
    }

    /* Tema Caption Light */
    .carousel-caption.light {
        /* Ideal image dimension is 4x3 */
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 0));
        color: whitesmoke;
        padding: 1.5rem;
        align-items: center;
    }
    /* Tema Caption Dark */
    .carousel-caption.dark {
        /* Ideal image dimension is 4x3 */
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0));
        color: black;
        padding: 1.5rem;
        align-items: center;
    }
    @media (min-width:576px) {
        .carousel-caption.light {
            padding-top: 5rem;
        }
        .carousel-caption.dark {
            padding-top: 5rem;
        }
    }
    @media (min-width:768px) {
        .carousel-caption.light {
            background-image: linear-gradient(100deg, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 0));
            padding: 4rem;
            padding-left: 6rem;
            padding-right: 40%;
            align-items: flex-start;
            text-align: left;
        }
        .carousel-caption.dark {
            background-image: linear-gradient(100deg, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0));
            padding: 4rem;
            padding-left: 6rem;
            padding-right: 40%;
            align-items: flex-start;
            text-align: left;
        }
    }
    
    /* Style Judul Caption */
    .carousel-caption .title {
        font-weight: 900;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    /* Style Deskripsi Caption */
    .carousel-caption .description {
        margin-bottom: .75rem;
        font-size: 1rem;
    }
    /* Style Deskripsi Tambahan Caption Light */
    .carousel-caption.light .description-small {
        margin-bottom: .75rem;
        color: rgb(210, 210, 210) !important;
        font-size: .8rem;
    }
    /* Style Deskripsi Tambahan Caption Dark */
    .carousel-caption.dark .description-small {
        margin-bottom: .75rem;
        color: rgb(85, 85, 85) !important;
        font-size: .8rem;
    }

    /* Link Pada Caption */
    .carousel-caption .action {
        margin-top: 2rem;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 1rem;
        align-items: center;
    }
    @media (min-width:768px) {
        .carousel-caption .action {
            flex-direction: row;
        }
    }

    /* Style Button Caption */
    .carousel-caption a {
        margin-bottom: 1rem;
        text-shadow: none;
        font-weight: 600;
    }

    /* Carousel Indicator */
    .carousel-indicators {
        margin: 0;
        background-color: rgba(0, 0, 0, .75);
        width: 10rem;
        border-radius: 1rem;
        padding: .5rem;
        margin: auto;
        bottom: 1rem;
    }
    .carousel-indicators [data-bs-target] {
        margin: 0 .5rem;
        width: .8rem;
        height: .8rem;
        border-radius: .4rem;
        border: 0;
    }
    @media (min-width:768px) {
        .carousel-indicators [data-bs-target] {
            width: 3rem;
            height: .15rem;
            border-radius: .2rem;
        }
        .carousel-indicators {
            width: auto;
            background-color: rgba(0, 0, 0, 0);
        }
    }

    /* Carousel Prev Next Button */
    .carousel-control-prev, .carousel-control-next {
        width: 2.5rem;
        background-color: rgba(0, 0, 0, .5);
        margin: auto;
        height: 2.5rem;
        border-radius: 2.5rem;
        padding: .75rem;    
    }
    .carousel-control-prev {
        left: 1.5rem;
    } 
    .carousel-control-next {
        right: 1.5rem;
    }

/* End Carousel */







/* Nav Tabs Category */

    /* Hiding Nav Tabs Scrollbar */

        .nav-tabs::-webkit-scrollbar {
            display: none; /* Chrome Safari and Opera */
        }
        .nav-tabs {
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none;  /* IE and Edge */
        }

    /* End */

    .nav-tabs {
        padding: .2rem;
        min-height: 3rem;
        overflow-x: auto;
        overflow-y: hidden;
        border: 0;
    }
    .nav-tabs .nav-item:nth-child(1) {
        margin-left: auto;
    }
    .nav-tabs .nav-item:nth-last-child(1) {
        margin-right: auto;
    }
    .nav-tabs .nav-link {
        border-radius: 0;
        white-space: nowrap;
        border: 0;
        color: black;
        font-weight: 600;
        position: relative;
    }
    .nav-tabs .nav-link:focus {
        box-shadow: 0;
    }
    .nav-tabs .nav-link::after {
        content: '';
        display: block;
        position: absolute;
        background-color: black;
        border-radius: .1rem;
        width: 0;
        height: .05rem;
        left: 50%;
        bottom: 15%;
        transition: .2s;
    }
    .nav-tabs .nav-link.active::after {
        width: 80%;
        height: .1rem;
        left: 10%;
    }
    .nav-tabs .nav-link.active {
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        color: black;

    }
    .nav-tabs .nav-link:hover {
        border: 0;
    }
    .nav-tabs.text-light .nav-link.active,
    .nav-tabs.text-light .nav-link {
        color: whitesmoke;
    }
    .nav-tabs.text-light .nav-link::after {
        background-color: whitesmoke;
    }

/* End Nav Tabs Category */

/* Category Item */

    .category-title {
        text-align: center;
    }
    .category-title h2 {
        margin-bottom: .75rem;
        font-weight: 900;
    }
    .container.category {
        padding-top: 2.5rem;
        padding-bottom: 7.5rem;
        padding-left: 0;
        padding-right: 0;
    }

/* Category Item */


/* Product Home */
    .product.container {
        overflow: auto;
        position: relative;
        padding: 0;
    }
    .product.container .col-12  {
        max-width: 18rem;
    }
    @media only screen and (min-width:768px) {
        .product.container {
            overflow: visible;
        }
    }
    @media only screen and (max-width:767px) {
        .product.container .col-12:nth-last-child(1) {
            padding-right: calc(-0.5 * var(--bs-gutter-x));
        }
    }

    /* Hiding Product Container Scrollbar */
        .product.container::-webkit-scrollbar {
            display: none; /* Chrome Safari and Opera */
        }
        .product.container {
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none;  /* IE and Edge */
        }
    /* End */

    .card {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    .card .product-price small {
        display: block;
    }
    .card .slide-top {
        height: 3.5rem; 
        overflow: hidden;
    }

    .card-home {
        overflow: hidden;
        height: 17.7rem;
    }
    .card-home .card-img-top {
        width: 100%;
        object-fit: cover;
        height: 9rem;
        transition: .2s ease-in-out;
    }
    .card-home .product-title {
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .card-home .disc-badge {
        z-index: 2;
        top: .75rem;
        right: -2.8rem;
        transform: rotate(45deg);
        transition: .3s;
        padding: .7rem;
    }
    .card-home .product-price .slide-top {
        transition: .2s ease-in-out;
    }
    .card-home .product-title a {
        color: rgb(70, 70, 70);
        text-decoration: none;
        transition: .2s;
    }
    .card-home .product-title a:hover {
        color: slateblue;
    }
    .card-home .product-price {
        padding-top: .5rem;
        height: 3.8rem;
    }
    .card-home:hover .product-price .slide-top {
        margin-top: -6rem;
    }
    .card-home:hover .card-img-top {
        transform: scale(1.1);
    }
    .card-home:hover .disc-badge {
        transform: rotate(45deg);
    }

    .card-home.bg-outline-light:hover .card-body {
        background-color: whitesmoke;
        color: black;
    }    
    .card-home.bg-outline-dark:hover .card-body {
        background-color: black;
        color: whitesmoke;
    }

    .card-home.bg-outline-light .card-body,
    .card-home.bg-outline-dark .card-body {
        transition: .2s;
    }
    
    .bg-outline-light .product-title a {
        color: whitesmoke;
    }
    .bg-outline-dark .product-title a {
        color: black;
    }
    
    .card-home.bg-outline-light:hover .product-title a {
        color: black;
    }
    .card-home.bg-outline-dark:hover .product-title a {
        color: whitesmoke;
    }
    
    .bg-outline-light .product-title:hover,
    .bg-outline-light .card-body .product-title:hover a {
        color: rgb(100, 100, 100);
    }
    .bg-outline-dark .product-title:hover,
    .bg-outline-dark .card-body .product-title:hover a {
        color: rgb(195, 195, 195);
    }

    .bg-outline-light,
    .bg-outline-dark {
        background-color: rgba(0, 0, 0, 0) !important;
    }

    .bg-outline-light {
        border: 1px solid whitesmoke !important;
        color: whitesmoke !important;
        box-shadow: none;

    }
    .bg-outline-dark {
        border: 1px solid black !important;
        color: black !important;
        box-shadow: none;
    }

    .bg-outline-light .product-price small {
        color: rgb(195, 195, 195);
    }
    .bg-outline-dark .product-price small {
        color: rgb(100, 100, 100);
    }

    .bg-outline-light .card-body, 
    .bg-outline-dark .card-body {
        z-index: 1;
    }



    .card-home-overlay {
        overflow: hidden;
        min-height: 25rem;
    }
    .card-home-overlay:hover .card-img {
        transform: scale(1.05);
    }
    .card-home-overlay:hover .product-price .slide-top {
        margin-top: -6.4rem;
    }
    .card-home-overlay .product-price .slide-top {
        transition: .2s ease-in-out;
    }
    .card-home-overlay .disc-badge {
        z-index: 2;
        bottom: 0;
        right: 0;
        left: 0;
        transform: rotate(0deg);
        padding: 1rem;
    }
    .card-home-overlay .card-img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        transition: .2s ease-in-out;
    }
    .card-home-overlay .text-color-dark {
        text-decoration: none;
        transition: .2s;
        color: rgb(70, 70, 70);
    }
    .card-home-overlay .text-color-light {
        text-decoration: none;
        transition: .2s;
        color: rgb(230, 230, 230);
    }
    .card-home-overlay .text-color-dark:hover,
    .card-home-overlay .text-color-light:hover {
        color: slateblue;
    }
    .card-home-overlay .product-title {
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .card-home-overlay .product-price {
        height: 3.8rem;
        /* background-color: slateblue; */
    }
/* End Product Home */

