@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

:root {
    --color-transparent: rgba(0, 0, 0, 0);
    --color-light: rgba(240, 240, 240, 1);
    --bg-color-navbar: #efefff;
    --font-size-navbar: 1rem;
    --font-size-l-navbar: 1.3rem;
    --font-weight-dekstop-navbar: 500;
    --font-weight-mobile-navbar: 600;
    --font-clr-navbar-mobile: rgb(40, 40, 40);
    --font-sec-clr-navbar-mobile: rgb(75, 75, 75);
    --font-clr-navbar-desktop: rgb(240, 240, 240);
    --med-alpha: .5;
}

/* Mobile Version (The Default) */

/* Navbar Container */
.navbar {
    margin-top: .3rem;
}
.navbar .navbar-brand {
    padding: 0;
    margin-right: 2rem;
    margin-left: 2rem;
}
.navbar .navbar-brand .logo-navbar {
    max-width: 10rem;
    max-height: 3rem;
    width: 100%;
}
.navbar .navbar-brand,
.navbar button {
    z-index: 10;
}

/* Custom Modal Background */
.bg-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s;
    z-index: 9;
}
.bg-modal.disappearing {
    background-color: var(--color-transparent);
}

/* Navbar Menu Container */
.navbar .navbar-toggler.show ~ #navbar-menu {
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;

}
#navbar-menu {
    visibility: hidden;
    opacity: 0;
    transform: translate(.7rem, 0);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 4.3rem;
    bottom: .7rem;
    right: .7rem;
    left: .7rem;
    overflow: auto;
    padding: 1.3rem 2rem;
    border-radius: .3rem;
    background-color: var(--bg-color-navbar);
    z-index: 99;
    transition: transform .2s, opacity .3s;
}

/* Menu */
#navbar-menu .navbar-nav {
    min-width: 100%;
    margin-bottom: .5rem;
}
#navbar-menu form {
    min-width: 100%;
    margin-top: auto;
    margin-right: auto;
}
#navbar-menu form input {
    font-weight: var(--font-weight-desktop-navbar);
    font-size: var(--font-size-navbar);
    color: var(--font-clr-navbar-mobile);
    background-color: rgba(225, 225, 225, 1);
    padding: .45rem .7rem;
    border: 1px solid rgba(40, 40, 40, 0.2);
}
#navbar-menu form input::placeholder {
    color: var(--font-clr-navbar-mobile);
    opacity: 0.5;
}

/* Dropdown Toggler */
.navbar .navbar-toggler {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar .navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}
.navbar .navbar-toggler div {
    width: 2rem;
    height: .2rem;
    border-radius: .2rem;
    background-color: var(--font-clr-navbar-desktop);
    transition: .3s;
}
.navbar .navbar-toggler div:nth-child(2) {
    margin: .45rem 0;
}
.navbar .navbar-toggler.show div:first-child {
    transform: translate(0, .65rem) rotate(45deg);
}
.navbar .navbar-toggler.show div:last-child {
    transform: translate(0, -.65rem) rotate(-225deg);
}
.navbar .navbar-toggler.show div:nth-child(2) {
    transform: translate(-.5rem, 0) scale(0);
    opacity: 0;
}
/* End Dropdown Toggler */

#navbar-menu .navbar-nav .nav-link {
    font-size: var(--font-size-l-navbar);
    font-weight: var(--font-weight-mobile-navbar);
    color: var(--font-clr-navbar-mobile);
    transition: 0s;
    transition: opacity .2s;
}
#navbar-menu .navbar-nav .nav-link {
    display: flex;
    align-items: center;
}
#navbar-menu .navbar-nav .nav-link:hover {
    opacity: .7;
}
#navbar-menu .navbar-nav .search-nav-btn {
    font-size: var(--font-size-navbar);
    min-width: 100%;
    margin-top: .5rem;
    color: whitesmoke;
    background-color: var(--font-clr-navbar-mobile);
    border-radius: .3rem;
    text-align: center;
    padding: .4rem;
}
#navbar-menu .navbar-nav .logout-nav-btn {
    font-size: var(--font-size-navbar);
    color: var(--font-clr-navbar-mobile);
    background-color: var(--color-transparent);
    text-align: center;
}
.sign-up-nav-btn {
    margin-left: 12px;
    display: block;
}
#navbar-menu .navbar-nav .sign-up-nav-btn {
    display: none;
}
#navbar-menu .navbar-nav .search-nav:hover {
    opacity: .9;
}
#navbar-menu .nav-item.dropdown .nav-link svg {
    color: var(--font-clr-navbar-mobile);
    transform: rotate(-90deg);
    opacity: 1;
    width: 1rem;
    margin-top: .25rem;
    margin-left: auto;
    transition: transform .05s;
}
#navbar-menu .nav-item.dropdown.show .nav-link svg {
    transform: rotate(0deg);
    transition: transform .1s;
}
/* Navbar Admin Profile */
#navbar-menu .navbar-profile-container {
    background-color: white;
    border: 2px dashed lightgray ; 
}
#navbar-menu .navbar-profile {
    min-width: 100%;
}
#navbar-menu .navbar-pp-name {
    max-width: 50vw;
    display: block;
    color: grey;
    font-weight: 400;
    font-size: 1rem;
}
#navbar-menu .navbar-pp {
    padding: auto 0 !important;
    max-width: 2.5rem;
    position: relative;
    border: 2px solid lightgray;
}
/* End Navbar Admin Profile */
/* End Menu */

/* Dropdown Menu */
#navbar-menu .nav-item.dropdown.show .dropdown-menu-container {
    transition: max-height 1s;
    max-height: 50rem;
}
#navbar-menu .dropdown-menu-container {
    display: flex;
    margin: 0;
    border-radius: .3rem;
    max-height: 0;
    overflow: hidden;

    position: static;
    padding: 0;
    min-width: 0;
    background-color: var(--color-transparent);
    transition: max-height .5s;
}
@media screen and (min-width:992px) {
    #navbar-menu .dropdown-menu-container {
        border: 2px solid rgb(210, 210, 210);
    }
}
#navbar-menu .dropdown-menu-container.show {
    transition: max-height 1s;
    max-height: 50rem;
}
#navbar-menu .dropdown-menu-container.type-1,
#navbar-menu .dropdown-menu-container.type-2 {
    flex-direction: column;
}
#navbar-menu .dropdown-menu-container .dropdown-menu.border-end.border-2,
#navbar-menu .dropdown-menu-container .dropdown-menu.border-start.border-2 {
    border-width: 0 !important;
}
#navbar-menu .dropdown-menu-container .dropdown-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: static !important;
    padding: 0;

    background-color: var(--color-transparent);
    border: 0;
    border-radius: 0;
}
#navbar-menu .dropdown-menu-container.type-1 .dropdown-menu,
#navbar-menu .dropdown-menu-container.type-2 .dropdown-menu {
    padding-bottom: .7rem;
    margin-bottom: .3rem;
}
#navbar-menu .dropdown-menu-container .dropdown-menu li {
    padding: .5rem .5rem;
}
#navbar-menu .dropdown-menu-container .dropdown-menu li:hover a div,
#navbar-menu .dropdown-menu-container .dropdown-menu li:hover a svg,
#navbar-menu .dropdown-menu-container .dropdown-menu li:hover a div small {
    color: rgb(90, 50, 140) !important;
}
#navbar-menu .dropdown-menu-container .dropdown-menu li:hover a div {
    transform: translateX(.1rem);
}
#navbar-menu .dropdown-menu-container .dropdown-menu li:not(.disabled):hover {
    background-color: rgb(220, 200, 255);
    border-radius: .2rem;
}
#navbar-menu .dropdown-menu-container .dropdown-menu li a:hover {
    background-color: transparent;
}
#navbar-menu .dropdown-menu-container .dropdown-menu .dropdown-item {
    display: flex;
    align-items: center;
    padding: 0;
}
#navbar-menu .dropdown-menu-container .dropdown-menu.min-gap li {
    padding: .25rem .5rem;
}
#navbar-menu .dropdown-menu-container .dropdown-menu .dropdown-item svg {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    color: var(--font-sec-clr-navbar-mobile);
}
#navbar-menu .dropdown-menu-container .dropdown-menu .dropdown-item .dropdown-item-caption {
    display: flex;
    flex-direction: column;
}
#navbar-menu .dropdown-menu-container .dropdown-menu .dropdown-item .dropdown-item-caption,
#navbar-menu .dropdown-menu-container .dropdown-menu li,
#navbar-menu .dropdown-menu-container .dropdown-menu li a svg {
    font-weight: 600;
    transition: .1s;
}
#navbar-menu .dropdown-menu-container .dropdown-menu .dropdown-item .dropdown-item-caption small {
    font-weight: 500;
    color: var(--font-sec-clr-navbar-mobile);
    transition: .1s;
}



/* End  */

/* IPAD Version */
@media (min-width: 576px) {
    /* Navbar Container */

    /* Custom Modal Background */

    /* Navbar Menu Container */
    #navbar-menu {
        left: auto;
        /* padding: 0.7rem 2rem 1.2rem; */
        background-color: var(--bg-color-navbar);
    }

    /* Menu */
    #navbar-menu .navbar-pp-name {
        max-width: 9rem;
    }
}

/* End */

/* Dekstop Version */
@media (min-width: 992px) {
    /* Custom Modal Background */

    /* Navbar Container */
    .navbar {
        margin-top: 0.7rem;
    }
    .navbar .navbar-brand {
        margin-right: 1rem;
        margin-left: 0;
    }

    /* Navbar Menu Container */
    #navbar-menu {
        visibility: visible;
        transform: translate(0, 0);
        opacity: 1;
        flex-direction: row;
        position: static;
        padding: 0;
        background-color: var(--color-transparent);
        overflow: visible;
    }

    /* Menu */
    #navbar-menu .navbar-nav {
        min-width: 0;
        margin-bottom: 0;
    }
    #navbar-menu form {
        min-width: 0;
        margin-top: 0;
        margin-right: .5rem;
    }
    #navbar-menu form input {
        color: var(--font-clr-navbar-desktop);
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(240, 240, 240, 0.2);
    }
    #navbar-menu form input::placeholder {
        color: var(--font-clr-navbar-desktop);
        opacity: 0.5;
    }
    #navbar-menu .navbar-nav .nav-link {
        font-size: var(--font-size-navbar);
        font-weight: var(--font-weight-desktop-navbar);
        color: var(--font-clr-navbar-desktop);
        padding: 0.5rem 1rem 0;
    }
    #navbar-menu .navbar-nav .search-nav-btn {
        padding: .4rem 1rem .4rem 1rem;
        margin-top: auto;
        color: rgb(60, 60, 60);
        background-color: var(--font-clr-navbar-desktop);    
    }
    #navbar-menu .nav-item.dropdown .nav-link svg {
        color: var(--font-clr-navbar-desktop);
        transform: translate(0, -.15rem) rotate(0deg);
        opacity: .7;
        width: .7rem;
        margin-top: .25rem;
        margin-left: .7rem;
        transition: transform .1s;
    }
    #navbar-menu .nav-item.dropdown.show .nav-link svg {
        transform: translate(0, 0);
        transition: transform .2s;
    }    
    /* Navbar Admin Profile */
    #navbar-menu .navbar-profile-container {
        background-color: var(--color-transparent);
        border: 0; 
    }
    #navbar-menu .navbar-pp {
        border-width: 1px;
    }
    #navbar-menu .navbar-pp-name {
        display: none;
    }
    /* End Navbar Admin Profile */
    /* End Menu */

    /* Dropdown Menu */
    #navbar-menu .nav-item.dropdown.show .dropdown-menu-container {
        transform: translate(-3rem, .8rem);
        opacity: 1;
        max-height: 50rem;
        padding: 1rem 1.5rem 1.3rem;
        transition: transform .3s, opacity .15s;
    }
    #navbar-menu .dropdown-menu-container {
        position: absolute;
        padding: 0;
        min-width: 17.5rem;
        background-color: var(--bg-color-navbar);
        opacity: 0;
    }
    #navbar-menu .dropdown-menu-container {
        position: absolute;
        padding: 0;
        min-width: 17.5rem;
        background-color: var(--bg-color-navbar);
    }
    #navbar-menu .dropdown-menu-container.type-1 {
        flex-direction: column;
    }
    #navbar-menu .dropdown-menu-container.type-2 {
        min-width: 35rem;
        flex-direction: row;
    }
    #navbar-menu .dropdown-menu-container .dropdown-menu.border-end.border-2,
    #navbar-menu .dropdown-menu-container .dropdown-menu.border-start.border-2 {
        border-width: 2px !important;
    }
    #navbar-menu .dropdown-menu-container .dropdown-menu {
        background-color: var(--bg-color-navbar);
        border: 0;
        border-radius: 0;
    }
    #navbar-menu .dropdown-menu-container.type-1 .dropdown-menu {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    #navbar-menu .dropdown-menu-container.type-1 .dropdown-menu:not(:last-child) {
        padding-bottom: .7rem;
        margin-bottom: .3rem;
    }
    #navbar-menu .dropdown-menu-container.type-2 .dropdown-menu {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    #navbar-menu .dropdown-menu-container.type-2 .dropdown-menu:not(:last-child) {
        flex-grow: 2;
        padding-right: 1rem;
        margin-right: 1rem;
    }

    /* Hiding Button */
    .sign-up-nav-btn {
        display: none;
    }

    .navbar-nav .sign-up-nav-btn {
        display: block;
    }

}

/* End */