
.product-container {
    /* background-image: linear-gradient(10deg, #6a59ecff, rgb(120, 100, 202), rgb(51, 54, 123)); */
    background-color: rgba(0, 0, 0, .2);
    border-radius: .3rem;
}
.grid {
    display: grid;
    grid-template-areas:
    "product-media"
    "product-title"
    "product-description"
    "product-rating" 
    "rating-filter"
    "product-review"
    "product-discussion";
    grid-template-columns: minmax(0, 1fr);
    gap: .5rem;
}
@media screen and (min-width:992px) {
    .grid {
        grid-template-areas:
        "product-media product-title product-title"
        "product-media product-description product-description"
        "rating-filter rating-filter rating-filter"
        "product-rating product-review product-review"
        "product-discussion product-discussion product-discussion";
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        gap: .5rem;
    }
}
.item-media {
    grid-area: product-media;
}
.item-title {
    grid-area: product-title;
    background-color: white;
    border-radius: .3rem;
    padding: 1rem 1.5rem;
}
.stars-container {
    background-color: rgba(240, 240, 240, 1);    
}
.logo-svg {
    width: .6rem;
}
.logo-svg-2 {
    width: 1rem;
}
.logo-svg-star-rating {
    width: .9rem;
    margin-left: .1em;
}
.rating-stars {    
    --star-size: 1.35rem;
    --star-color: #fff;
    --star-background: #fc0;
    --percent: calc(var(--rating) / 5 * 100%);
    
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}
.rating-stars.lg {    
    --star-size: 2.5rem;
}
.rating-stars::before {
    content: '★★★★★';
    letter-spacing: 1px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.price-tag {
    font-size: 1.75rem;
    font-weight: 600;
}


.item-description {
    grid-area: product-description;
    background-color: white;
    padding: 1rem 1.5rem;
}

.item-rating {
    grid-area: product-rating;
}
#rating-star-detail {
    font-size: 1.1rem;
    --bs-warning-rgb: 255, 170, 50;
    color: rgb(95, 95, 95);
}
#rating-star-detail a {
    color: rgb(99, 99, 99);
    transition: .2s;
}
#rating-star-detail a .progress,
#rating-star-detail a .progress-bar {
    transition: .1s;
}
#rating-star-detail a:hover {
    color: rgb(0, 0, 0);
}
#rating-star-detail a:hover .progress {
    --bs-warning-rgb: 255, 136, 0;
    --bs-progress-bg: rgb(230, 230, 230);
}
h2 {
    font-size: 1.35rem;
    font-weight: 600;
}
#rating-star-detail small {
    font-size: .9rem;
}
#rating-star-detail .sticky-container {
    --container-height: auto;
    /* background-color: rgba(220, 220, 220, .5); */
}
#rating-star-detail .rating-stars {
    --star-color: rgb(225, 225, 225);
    --star-background: rgb(255, 170, 50);
}
#rating-star-detail .progress {
    height: 1.5rem;
}


.item-rating-filter {
    grid-area: rating-filter;
    padding: 1rem 1.5rem;
}
.item-rating-filter .border-start {
    border-color: rgb(129, 129, 129) !important;
}





.item-review {
    grid-area: product-review;
}
.item-review img {
    width: 3em;
}
.item-review .user-rating-name {
    font-weight: 600;
}
.item-review .user-rating-name {
    font-weight: 600;
}
.item-review .img-review {
    width: 5em;
    height: 5em;
    object-fit: cover;
    margin: .3em .3em 0 0;
}

.item-discussion {
    grid-area: product-discussion;
    padding: 1rem 1.5rem;
}

.product-title {
    /* color: whitesmoke; */
    font-size: 1.55rem;
    font-weight: 900;
}
.sticky-container {
    --container-height: 370px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: .5rem;
    height: var(--container-height);
    overflow: hidden;
}
.product-img {
    width: 100%;
    height: 100%;
    padding: .3rem;
    object-fit: cover;
    background-color: rgba(245, 245, 245, 1);
    border-radius: .4rem;
}
.image-container {
    height: 80%;
}
.image-chosen-btn {
    overflow: auto;
    position: relative;
    display: inline-block;
}
.slideable-effect {
    --lin-grad-direction: 270deg;
    position: absolute;
    left: -.5rem;
    bottom: 0;
    height: 4.05rem;
    width: 2rem;
    background-image: linear-gradient(var(--lin-grad-direction), rgba(15, 15, 80, 0), rgba(15, 15, 80, .5),  rgb(10, 10, 65) );
}
.slideable-effect:nth-last-child(1) {
    --lin-grad-direction: 90deg;
    left: unset;
    right: -.5rem;
}

.image-chosen-btn .img-thumbnail {
    height: 4rem;
    object-fit: cover;
    min-width: 6rem;
}
.image-chosen-btn .btn {
    padding: 0 1rem 0 0;
}
.image-chosen-btn .btn:nth-last-child(1) {
    padding: 0;
}

/* Hiding Img Thumbnail Scrollbar */

.image-chosen-btn::-webkit-scrollbar {
    display: none; /* Chrome Safari and Opera */
}
.image-chosen-btn {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}